body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif; /* Corrected spelling */
    font-weight: 400;
    text-align: center;
    background-color: black;
    background-image: url("../asset/moon-1527501.jpg");
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    background-blend-mode: normal;
    background-size: 1%;
    transition: background-size 8s ease;
}
